<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".EletricistaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eletricista">
        <activity android:name=".view.Ajuda"></activity>
        <activity android:name=".view.PoliticaDePrivacidadeActivity" />
        <activity android:name=".view.MainActivity" />
        <activity android:name=".view.DisjuntorActivity" />
        <activity android:name=".view.PotenciaActivity" />
        <activity android:name=".view.ConsumoActivity" />
        <activity android:name=".view.CondutorActivity" />
        <activity android:name=".view.QuedadeTensaoActivity" />
        <activity android:name=".view.CorrenteCircuitoActivity" />
        <activity android:name=".view.CondutorCompletoctivity" />
        <activity android:name=".GeradorActivity" />
        <activity android:name=".view.LearnActivity" />
        <activity android:name=".view.ResistanceConceptActivity" />
        <activity android:name=".view.SplahActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>